*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #191816;
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
}

section{
    background: #24221F;
    border-radius: 4px;
    margin-left: 74px;
    margin-right: 74px;
    margin-top: 126px;
    width: 572px;
    height: 512px;
}

.header-form{
    margin-left: 119px;
    margin-right: 117px;
    margin-bottom: 27px;
    margin-top: 55px;
}

.header-form p {
    color: #AFB6C2;
    font-size: 16px;
    margin-top: 5px;
}

.titulo{
    display: flex;
}

.titulo h3 {
    margin-left: 10px;
    font-size: 24px;
    color: #D4CCB6;
    font-size: 24px;
}

.e-mail{
    display: flex;
    flex-direction: column;
    margin-left: 119px;
    margin-right: 118px;
    margin-bottom: 20px;
}

.e-mail label{
    color: #AFB6C2;
    font-size: 16px;
    font-weight: 500px;
}

.e-mail input{
    background: #24221F;
    color: #D4CCB6;
    height: 44px;
    border: 1px solid #868686;
    border-radius: 4px;
}

.e-mail input:placeholder-shown{
    color:#D4CCB6;
    background-image: url(./images/mail.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.5rem;
}

.e-mail input:focus{
    outline: none;
    border: 2px solid #FFC632;
}

.senha{
    display: flex;
    flex-direction: column;
    margin-left: 119px;
    margin-right: 118px;
    margin-bottom: 20px;
}

.senha label{
    color: #AFB6C2;
    font-size: 16px;
    font-weight: 500px;
}

.senha input{
    background: #24221F;
    height: 44px;
    border: 1px solid #868686;
    border-radius: 4px;
}

.senha input:placeholder-shown{
    color: #AFB6C2;
    background-image: url(./images/lock.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.5rem;
}

.senha input:focus{
    outline: none;
    border: 2px solid #FFC632;
}

.lembrar{
    display: flex;
    justify-content: space-between;
    margin-left: 119px;
    margin-right: 119px;
    margin-bottom: 20px;
}

.lembrar a {
    font-size: 14px;
    font-weight: 600;
    color: #FFC632;
    text-decoration: none;
}

.check{
    display: flex ;
    align-items: center;
}

.check input{
    border: 1px solid #868686;
}

.check p {
    color: #868686;
    font-size: 16px;
    margin-left: 5px;
}

.btn{
    margin-left: 119px;
    margin-right: 119px;
    margin-bottom: 14px;
    width: 334px;
    height: 51px;
    padding: 12px 24px;
    color:#473404;
    background: #FFC632;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    font-weight: 600;
}

.registro{
    font-weight: 400;
    font-size: 14px;
    color: #FFC632;
    text-align: center;
}

.img{
    position: absolute;
    width: 720px;
    height: 900px;
    left: 720px;
    top: 0px;
}

@media only screen and (max-width: 375px){
    .logo{
        margin-left: 20px;
    }
    
    .main{
        margin: 0;
        background: #191816;
    }

    .e-mail{
        margin-left: 20px;
    }

    .senha{
        margin-left: 20px;
    }

    .btn{
        margin-left: 20px;
    }

    .registro{
        text-align:center;
        
    }
}