*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    display: flex ;
    justify-content: space-between;
   
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
}

section{
    background: #212121;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 74px;
    margin-top: 194px;
    width: 572px;
    height: 512px;

}

section p {
    margin-left: 118px;
}

.titulo{
    display: flex;
    margin-left: 118px;

}

.titulo img{
    margin-top: 61px;
}

.titulo h3 {
    margin-top: 55px;
    margin-left: 10px;
    font-size: 24px;
}

